*{
    font-family: 'SF Pro Display', sans-serif;
}

.image-bg{
    background-image: url('images/brand/output.jpg');
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    height: 100vh;
}
.rb{
    color: #1F4529;
}
.active{
    color:#1F4529;
}
.secondary{
    color: #9bc6a6;
}
.secondary:hover{
    color:#1F4529;
}
.btn-success{
    color: white;
    border-color: #1F4529;
    background-color: #1F4529;
}

.btn-success:hover{
    color: white;
    border-color: #2e663d;
    background-color: #2e663d;
}

.btn-outline-success {
    color: #1F4529;
    border-color: #1F4529;
}

.btn-outline-success:hover {
    color: white;
    background-color: #1F4529;
    border-color: #1F4529;
}

.gradient-success{
color: white;
border-color: #1F4529;
background-color: #1F4529;
}

.gradient-success:hover, .gradient-success:focus{
background: linear-gradient(90deg,#1f4529,#16301e,#0c1b11);
background-size: 180% 180%;
animation: gradient-animation 0.3s ease;
color: white;
border-color: #1F4529;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.pfp{
    width: 90px;
    height: 90px;
}

.pfp2{
    width: 150px;
    height: 150px;
}
