*{
    font-family: 'SF Pro Display', sans-serif;
}

.pagination {
    position: relative;
    z-index: 10; /* Ensure it's on top of other elements */
}

.image-bg{
    background-image: url('../../images/output.jpg');
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    height: 100vh;
}
.rb{
    color: #1F4529;
}

.active{
    color: #1F4529;
}
.secondary{
    color: #9bc6a6;
}
.secondary:hover{
    color:#1F4529;
}

.btn-success{
    color: white;
    border-color: #1F4529;
    background-color: #1F4529;
}

.btn-success:hover{
    color: white;
    border-color: #47663B;
    background-color: #47663B;
}

.btn-success:focus, .btn-success.focus{
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success {
    color: #1F4529;
    border-color: #1F4529;
}

.btn-outline-success:hover {
    color: white;
    background-color: #1F4529;
    border-color: #1F4529;
}

.btn-success:focus, .btn-success.focus{
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.gradient-success{
background: linear-gradient(0deg,#1f4529,#1f442a,#163220);
background-size: 180% 180%;
color: white;
}
.gradient-success:hover{
    background: linear-gradient(0deg,#1f4529,#1f442a,#163220);
    background-size: 180% 180%;
    animation: gradient-animation 2s ease infinite;
    color: white;
    }
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.hover-effect {
    transition: transform 0.3s ease;
    position: relative;
}

.hover-effect:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.no-products {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
    padding: 20px;
}

.toast {
    min-width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
}

.toast-header {
    padding: 0.75rem 1rem;
    border-bottom: none;
}

.toast-body {
    padding: 1rem;
    font-weight: 500;
}

.progress {
    border-radius: 0 0 0.375rem 0.375rem;
    overflow: hidden;
}
